# Node modules
node_modules/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env

# OS/mac related
.DS_Store

# Optional npm cache directory
.npm

# Output folders
dist/
build/

# IDE/Editor
.vscode/
*.swp
